.watermark-container {
    z-index: -1;
    transform: rotate(-45deg);
    width: 200%;
    height: 200%;
    text-wrap: nowrap;
    position: absolute;
    top:-70%;
    left:-50%;
    white-space: pre;
}