@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    position: relative;
    background-image: url('BG-light.png');
}

body.dark{
    background-image: url('BG-dark.png');
}
